canvas{
  position:relative;
}
html{
  font-size:18px;
}
h1, h2, h3, h4, h5, h6, p, button{
  font-family: 'Walter Turncoat', cursive;
}

h1{
  font-size: 4rem;
  line-height: 6rem;
}
h2{
  font-size: 3rem;
  line-height: 4.5rem;
}
h3{
  font-size:2rem;
  line-height: 5rem;
}

/* for index */
#gameCode{
  display:none;
  background-color:lightgray;
  width:70%;
  margin:0 auto;
  border-radius: 15px;
  padding: 3rem;
}
#code{
  background-color: orange;
  padding: .5rem;
  border-radius: 15px;
}

.center{
  text-align: center;
}
button{
  padding:1%;
  border:2px solid black;
  border-radius:12px;
  background-color:white;
}
button:hover{
  background-color:lightgray;
}

.mainActionBtn{
  position: absolute;
  bottom: 10%;
  left: 45%;
  width: 10%;
}


/* for draw */
#instructions, #done{
    position: absolute;
}

#instructions{
  top:5%;
  left:40%;
}

#done{
  bottom: 5%;
  width:10%;
  right: 5%;
}

#done img{
  width: 80%;
  height:auto;
}
